{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead, not IE 11",
          "node": "current"
        }
      }
    ],
    ["@babel/preset-typescript"]
  ]
}
